#tryMobileAppModal {
    max-width: 380px;
    position: absolute;
    top: 50px !important;
    left: -40px !important
}

#tryMobileAppModalContent {
    width: 300px;
    border-radius: 17px;
    box-shadow: 0 16px 40px #00000033;
    border: none;
    top: 6px;
    left: 0
}

#tryMobileAppClose {
    position: relative;
    font-size: 25px;
    outline: 0
}

#qrcode {
    padding-top: 15px
}

#tryMobileAppHeader {
    font-size: 17px !important;
    color: #212121;
    font-weight: 700
}

#tryMobileAppPara {
    font-size: 15px !important;
    line-height: initial;
    color: #434343
}

#getTheApp,
#user-phone-number {
    height: 35px !important;
    font-size: 14px !important
}

#user-phone-number {
    border: 1px solid grey !important;
    border-radius: 20px;
    margin-top: 0;
    color: #707070;
    width: 90% !important
}

#getTheApp {
    width: 50%;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 20px;
    background-color: #dc3545;
    margin-top: 10px
}

.modal-open {
    overflow: unset !important
}

#user-phone-number:focus::placeholder {
    color: transparent
}

#smsVerificationClose>img {
    position: absolute;
    right: 26px;
    top: 17px
}

#tryMobileAppClose>img {
    position: absolute;
    right: 10px;
    top: 10px
}

#smsVerificationClose {
    border: none
}

#tryMobileAppPataCont {
    max-height: 152px;
    margin: 7px
}

#smsVerificationContent {
    max-width: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    translate: transform;
    transform: translate(-50%, 234px)
}

#smsVerificationContent>modal-body {
    padding: 6px 6px 0
}

#tryMobileAppRespClose {
    border-radius: 10px;
}

#smsVerificationRespMsg {
    padding-top: 25px;
    font-size: 30px !important
}