        /* Basic styling, you can customize this according to your needs */
			.rating-reviews-tab{
				width: 100%;
    min-height: 653px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0;
    margin-top: 30px;
    font-family: Roboto,sans-serif!important;
			}
			
			.rating-reviews-heading{
				    color: #3f4155;
    font-style: normal;
    line-height: normal;
    text-align: center;
		padding-bottom: 30px;
		font-family : inherit;
			}
        .tab-container-review {
            background: #fff;
    padding: 5px 5px 0;
    height: 44px;
    display: flex;
    justify-content: center;
        }

        .tabs-reviews {
               list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
					    display: flex;
    width: 70%;
    justify-content: center;
        }
			.tab-underline{
				position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    height: 5px;
				transform: none;
    transform-origin: 50% 50% 0px;
			}
			.selected{			
    background: #10db73;
								color: black !important;
			}    
        .tab-reviews {
            cursor: pointer;
					font-weight: 400;
    color: #71748e;
    background-color: #fbfbfb;
    border: 1px solid #eee6e6;
    cursor: pointer;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border-radius: 50px;
    padding: 6px 16px;
    margin: 8px;
        }
			.tab-element-reviews{
				    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    min-width: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
				list-style: none;
    margin: 0;
    font-weight: 500;
    font-size: 24px !important;
				color: #71748e !important;
			}

.review-comment{
	color:#71748e; font-size:18px !important; padding-left:0; padding-right:0;	
}
			.tab-btnTab-reviews{
    width: auto;
				gap:0.8rem;
				padding:0 0.5rem !important;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
				opacity:0.75;

			}
			.selectedTab{
				color:#314259 !important;
				opacity:1;
			}
			.tab-btnTab-reviews:hover,
			.tab-btnTab-reviews:active,
			.tab-btnTab-reviews:focus{
				background:none;
				color:inherit;
				border:none;
				outline:none;
			}
			
			.platform-rating{
				display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: row;
    color: #3f4155;
			}
			.rating-text{
				margin: 0 !important;
    font-size: 1.75rem !important;
    color: #3f4155 !important;

			}
			.user-reviews-section{
    font-size: 24px;
    flex-grow: 1;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
			}
			.testimonial-wrapper{
				    display: flex;
    justify-content: space-between;
    padding: 20px 160px;
			}
			
			.testimonial-review{
				border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 4px 0 #b1dfff;
    width: 48%;
    margin-top: 30px;
    padding: 0 40px;
			}
			.testimonial-review-inner-top{
				display:flex;
			}
			.testimonial-Image{
				border-radius: 99px; 
				overflow: hidden; 
				height: 100px; 
				width: 100px;
			}
			.testimonial-customer-info{
				margin-left:25px;
			}
			.testimonial-reviewBy{
				color: #3f4155;
    font-size: 20px !important;
    margin-top: 15px !important;
				font-weight:500;

			}
			.testimonial-paraText{
				    color: #71748e;

			}
			.testimonial-inner-review{
							color: #314259;
    font-size: 20px;
    height: 225px;

			}
			.testimonial-rating-img {
				margin-bottom: 10px;
				    color: transparent;
			}   

        .content-reviews {
            display: flex;
            height: 300px;
						width : 75%;
						gap:5rem;

        }
		.dots_tab_ratingReviewsTabs {
         display:none;
        }
			
	
			@media only screen
					and (max-width : 576px)  {
						.testimonial-wrapper{
							padding:1rem 3rem;
						}
						.testimonial-review{
							width:100%;
							padding:0 16px !important;
						}
						.testimonial-inner-review{
							height: 160px !important;
    overflow: scroll;
						}
						.selectedTab{
							color: #71748E !important;
    font-size: 20px;
}
						.selectedTab img{
							width:40px;
							height:40px;
						}
						.testimonial-inner-review b,p{
							font-size:16px
						}
						.rating-text{
    font-size: 1.25rem !important;
							color:#71748E !important;
						}
						.tab-container-review {
							padding-top:0px;
						}
						.platform-rating{
							margin-top:36px;
						}
						.platform-rating img{
							margin-left:0 !important;
							width:10rem;
						}
						.rating-reviews-heading{
							padding-bottom:0;
							font-size:22px !important;
						}
						.review-comment{
	color:#71748e; font-size:12px !important; padding-left:0; padding-right:0;	
}
						.testimonial-rating-img {
				margin-bottom: 10px;
				    color: transparent;
							width:8rem;
			}   
						.dots_tab_ratingReviewsTabs {
         display:block;

            text-align: center;
            margin-top: 2rem;
        }
						
						 .dot_ratingReviewsTabs {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }

        .dot_ratingReviewsTabs.active {
            background-color: #69aaeb;
        }
						
						.dots_tab_ratingReviewsTabs{
							display:block;
						}
					}
			
