        /* Basic styling, you can customize this according to your needs */
			.pre-next-tab{
				width: 100%;
    min-height: 653px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
        padding: 0 35px 80px;
    border-radius: 10px;
    background: linear-gradient(180deg,#fff -5.74%,#e2f3ff 107.86%,hsla(0,0%,100%,0) 150.22%);
    font-family: Roboto,sans-serif!important;
    scroll-margin-top: 60px;
				    padding-bottom: 50px;
    padding-top: 50px;
			}
			
			.pre-next-tab-heading{
				        color: #3f4155;
    font-family: Poppins;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
				    text-align: center;
				    padding-bottom: 20px;
			}
			
			.pre-next-tab-nav{
				display: flex;
    justify-content: space-around;
/*     background: #fdfdfd; */
    padding: 1px 1px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #fff;
    height: 44px;
    width: 100%;
			}
			
			.pre-next-tab-nav-ul{
				display: flex;
    width: 100%;
				    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 24px;
			}
			.pre-next-tab-nav-ul-li{
				    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    min-width: 0;
    position: relative;
    user-select: none;
    font-size: 22px !important;
				opacity:0.75;
				font-weight:400;
			}
			.left-arrow-preNextTab, .right-arrow-preNextTab{
				    width: 54px;
    			height: 45px;
			}
			.right-arrow-btn-preNextTab, .left-arrow-btn-preNextTab{
				border-radius: 50%;
    z-index: 100;
    background-color: rgb(63, 65, 85);
    opacity: 0.75;
    width: 100%;
    height: 110%;
    border: none;
    position: relative;
    top: 11px;
			}
			.tab-element-preNext{
				cursor:pointer;
			}
			.tab-underline_preNextTab{
		position: absolute;
				bottom:-0.25rem;
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
	}
			.selected_preNextTab{			
    background: #1d9bf0;
								color: black !important;
			}    
       
			.selectedTab_preNextTab{
				color:black !important;
				opacity:1;
			}
			.tab-details-wrapper-pre-next{
				margin:0 2rem;
				    display: flex;
    justify-content: space-between;
				    margin-top: 55px;
			}
			
			.tab-details-pre-next-image{
				    width: 40%;
			}
			.tab-details-pre-next-content{
				    padding: 50px 20px 0px 24px;
				    width: 60%;
    background-color: #fff;
    color: #71748e;
			}
			
			.content_heading_preNextTab{
				    padding-bottom: 10px;
    padding-left: 20px;
    color: #3f4155;
				font-size:2.25rem !important;
					margin:0 0.5rem 0 0 !important;
				font-family:poppins;
			}
			
			.content_para_preNextTab{
				color: #71748e;
				    font-size: 18px !important;
    			padding: 10px 20px 0 20px;
    text-align: justify;
				margin:0 !important;
				font-family:poppins;
			}
		.dots_tab_preNextTab {
         display:none;
        }
			.icon_mob_preNextTab{
				display:none;
			}
	
			@media only screen
					and (max-width : 576px)  {
						.pre-next-tab{
							padding-top:0 !important;
							min-height: 450px;
						}
						.tab-details-pre-next-image{
							display:none;
						}
						.pre-next-tab-nav{
							display:none;
						}
						.tab-details-pre-next-content{
						width:100%	
						}
							.pre-next-tab-heading{
								font-size: 22px !important;
}
						.tab-details-wrapper-pre-next{
							margin:0;
						}
						.tab-details-pre-next-content{
							padding:0;
							background:none;
						}
						.content_para_preNextTab{
							padding:0rem 0.5rem ;
							font-size:13px !important;
							text-align:center;
							    height: 200px !important;
    overflow: scroll;
					height:200px !important;
						}
						.dots_tab_preNextTab {
         display:block;

            text-align: center;
            margin-top: 0.5rem;
        }
						.content_heading_preNextTab{
							color: #314259;
    font-family: Poppins;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
							            text-align: center;

						}		
						 .dot_tab_preNextTab {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }

        .dot_tab_preNextTab.active {
            background-color: #69aaeb;
        }
						
						.icon_mob_preNextTab{
							display:inline-block;
						}
					}