.logo {
    width: 136px;
    height: 31px;
    margin-bottom: 10px;
}
.logo-image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.download-popup-content {
    background-color: #FFE5E8;
}
.rocket {
    font-size: 20px;
}
.phone_number_v3 {
    padding: 10px;
    margin-bottom: 18px;
    height: 44px !important;
    border-radius: 10px !important;
}
.phone_number_v3::placeholder {
    color: #9B9EB8;
    padding-left: 10px;
    font-size: 16px;
}
#error_message_v3 {
    color: #ed1a3b;
    font-size: 13px;
    margin-bottom: 15px;
}
.popup-header h2 {
    margin: 16px 0 5px;
    font-size: 24px !important;
    color: #3F4155;
    text-align: center;
    font-weight: bold;
}

.popup-header p {
    margin: 5px 0;
    font-size: 14px !important;
    color: #71748E;
    text-align: center;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: Roboto;
}

.demo-btn {
    background-color: #ed1a3b;
    color: #fff;
    border: none;
    padding: 11px 16px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16);
}

.modal-footer {
    margin-top: 36px !important;
    text-align: center;
    color: #666;
    background-color: #FFF4F6;
    border-radius: 0px 0px 8px 8px;
}

.modal-footer p {
    margin: 0;
    font-size: 14px !important;
}
#download-close:hover {
    background-color: #FFE5E8;
}