@import url(../ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.rating-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-success{
    color: #28a745!important;
}
.rating-fields{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating{
    position: relative;
}
.center{
    margin: auto;
}
#rating-value{	
    padding: 10px 5px;
    text-align: center;
}
.rating > input{
    display: none;
}

.rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 2.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating > .half:before{
    content: '\f089';
    position: absolute;
    cursor: pointer;
}


.rating > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
    color: #f5a623;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
    color: #f5a623;
}
