    .popup_input {
        height: 40px !important;
        font-size: 13pt !important;
        border-radius: 5px;
        width: 100% !important
    }

    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: .5rem 1rem
    }

    .cancel_btn {
        align-self: flex-end
    }

    .cancel_btn>img {
        width: 27px;
        color: #0a0a0a
    }

    .padding-top-2 {
        padding-top: 2rem
    }

    .padding-left-1 {
        padding-left: 1rem
    }

    .padding-top-1 {
        padding-top: 1rem !important
    }

    .padding-bottom-1 {
        padding-bottom: 1rem !important
    }

    .padding-right-1 {
        padding-right: 1rem
    }

    .margin-bottom-1 {
        margin-bottom: 1rem
    }

    .invalid-feedback-msg {
        color: #c72020;
        text-align: center
    }

    .start-download-btn {
        margin-bottom: 1em;
        width: 100%
    }

    .loading-div {
        display: flex;
        justify-content: center
    }

    .close {
        font-size: 40px
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0
    }

    input[type=number] {
        -moz-appearance: textfield
    }

    @media(min-width:576px) {
        .modal-sm {
            max-width: 420px !important;
            margin: 8rem auto !important
        }

        .modal-header-div {
            flex-direction: column;
            background-image: url(../../download_desktop_popup_image.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 1rem;
            padding-bottom: .4rem !important
        }

        .modal-header-h5 {
            color: #000000de;
            margin-bottom: 10px;
            font-size: 24px;
            width: 80%
        }

        .padding-right-lg-1 {
            padding-right: 1rem
        }

        .margin-top-lg-1 {
            margin-top: 1rem
        }

        .padding-top-lg-1 {
            padding-top: 1rem !important
        }

        .padding-bottom-lg-1 {
            padding-bottom: 1rem !important
        }
    }

    @media screen and (max-width:768px) {
        .border-b-0 {
            border-bottom: 0 !important
        }
    }

    @media screen and (max-width:576px) {
        .modal-sm {
            max-width: 320px !important;
            margin: 2rem auto !important
        }

        .modal-header-h5 {
            color: #000000de;
            margin-bottom: 10px;
            font-size: 19px;
            width: 80%
        }

        .modal-header-div {
            flex-direction: column;
            background-image: url(../../download_desktop_popup_image.png);
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 1rem;
            padding-bottom: 1rem
        }
    }

    .border_radius {
        width: 100%;
        color: #fff;
        margin: 10px 0 21px;
        border-radius: 5px;
        background-color: #ed1a3b
    }

    .legend_content {
        width: 36%;
        border: none;
        margin-bottom: 1px;
        margin-left: 10px;
        font-size: 13px;
        color: red
    }

    fieldset {
        border-radius: 5px;
        border: 1px solid red !important
    }

    input {
        border: none !important;
        background: 0 0;
        outline: none;
        margin-top: -8px;
        height: 40px !important;
        font-size: 13pt !important;
        width: 100% !important;
        box-shadow: none !important;
        padding: 0 0 0 10px
    }

    #error_message {
        color: #ed1a3b;
        padding: 8px 0 0 20px;
        font-size: 13px
    }